<template>
  <button
    class="g dropdown-item flex px-2 lg:px-4 py-1 w-full transition
    hover:bg-neutral-050 active:bg-primary items-center focus:bg-primary
    focus:text-primary-text-on-bg focus:outline-none"
    @click="onclick"
  >
    <g-icon
      v-if="icon"
      class="text-lg text-neutral-300 mr-2"
      :name="icon"
    />
    <span class="inline">
      <!-- Item Label -->
      <slot />
    </span>
  </button>
</template>

<script>
import GIcon from '../Icon.vue';

export default {
  name: 'DropdownItem',

  components: {
    GIcon,
  },

  props: {
    // Left Icon of a dropdown-item
    icon: {
      type: String,
      default: null,
    },
  },

  methods: {
    onclick(e) {
      // Fire click when item is clucked
      // @arg native-event
      this.$emit('click', e);
    },
  },
};
</script>
