<template>
  <div
    class="g dropdown inline-flex relative"
  >
    <div
      ref="trigger"
      class="relative"
      @click="focus"
    >
      <!-- Trigger for opening the dropdown -->
      <slot name="trigger" />
    </div>
    <div
      class="absolute bg-white shadow-md min-w-32 rounded z-20 whitespace-no-wrap py-2"
      :class="{
        'top-0': position.indexOf('top') > -1 && !openAbove,
        'top-101': position.indexOf('bottom') > -1 && !openAbove,
        'bottom-101': position.indexOf('bottom') > -1 && openAbove,
        'left-0': position.indexOf('left') > -1,
        'right-0': position.indexOf('right') > -1,
        'hidden': !selected,
      }"
    >
      <!-- Dropdown Items -->
      <slot />
    </div>
    <button
      ref="input"
      class="h-0 w-0"
      @focus="open"
      @blur="close"
      @keydown.esc="blur"
    />
  </div>
</template>

<script>
export default {
  name: 'Dropdown',

  props: {
    // Control opening by your own. (v-model)
    value: {
      type: Boolean,
      default: false,
    },
    // Where should the dropdown be positioned
    position: {
      // `top-right` `top-left` `bottom-left` `bottom-right`
      type: String,
      default: 'bottom-left',
      validator(value) {
        return [
          'top-right',
          'top-left',
          'bottom-left',
          'bottom-right',
        ].indexOf(value) > -1;
      },
    },
    // Whether the dropdown should be displayed above or below the trigger
    openAbove: {
      type: Boolean,
      default: false,
    },
  },

  data() {
    return {
      selected: false,
    };
  },

  watch: {
    value: {
      immediate: true,
      handler(newVal) {
        this.selcted = newVal;
      },
    },
  },

  methods: {
    focus() {
      this.$refs.input.focus();
    },
    blur() {
      this.$refs.input.blur();
    },
    // @vuese
    // used to open the dropdown
    open() {
      this.selected = true;
      // Control for your v-model
      // @arg Boolean
      this.$emit('input', true);
      // Fire when dropdown is opened
      // @arg $el
      this.$emit('open', this.$el);
    },
    // @vuese
    // used to close the dropdown
    close() {
      this.$nextTick(() => {
        setTimeout(() => {
          this.selected = false;
          // Control for your v-model
          // @arg Boolean
          this.$emit('input', false);
          // Fire when dropdown is closed
          // @arg $el
          this.$emit('close', this.$el);
        }, 300);
      });
    },
  },
};
</script>
