body {
  font-family: theme('fontFamily.sans');
  color: theme('colors.background.text-on-bg');
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

html {
  background: theme('colors.background.default');
}