.numeric-normal {
  font-variant-numeric: normal;
}
 
.numeric-ordinal {
  font-variant-numeric: ordinal;
}
 
.numeric-slashed-zero {
  font-variant-numeric: slashed-zero;
}
 
.numeric-lining-nums {
  font-variant-numeric: lining-nums;
}
 
.numeric-oldstyle-nums {
  font-variant-numeric: oldstyle-nums;
}
 
.numeric-proportional-nums {
  font-variant-numeric: proportional-nums;
}
 
.numeric-tabular-nums {
  font-variant-numeric: tabular-nums;
}
 
.numeric-diagonal-fractions {
  font-variant-numeric: diagonal-fractions;
}
 
.numeric-stacked-fractions {
  font-variant-numeric: stacked-fractions;
}