.moz-focusring-none {
  &:-moz-focusring {
    color: transparent;
    text-shadow: 0 0 0 #000;
  }
}

.moz-invalid-none {
  // :invalid {
  //   box-shadow: none;
  // }
  
  &:-moz-submit-invalid {
    box-shadow: none;
  }
  
  &:-moz-ui-invalid {
    box-shadow: none;
  }
}