.transition {
  transition: all 200ms;
}

.transition-bg {
  transition-property: background;
}

.transition-500 {
  transition-duration: 500ms;
}

.transition-750 {
  transition-duration: 750ms;
}

.transition-300 {
  transition-duration: 300ms;
}

.transition-150{
  transition-duration: 150ms;
}