<template>
  <div class="g autocomplete relative">
    <g-input
      :id="id"
      ref="autocomplete"
      v-model="inputModel"
      :label="label"
      :placeholder="placeholder"
      :name="name"
      :autocomplete="false"
      :disabled="disabled"
      :readonly="readonly"
      :autofocus="autofocus"
      :required="required"
      :clear-button="clearButton"
      :clear-button-icon="clearButtonIcon"
      :cleared-value="''"
      @input="oninput"
      @focus="oninput"
      @blur="closeDropdown"
      @clearButtonClick="clearItem"
      @keydown.up.prevent="onarrowup"
      @keydown.down.prevent="onarrowdown"
      @keydown.enter.prevent="selectItem(selectedIndex)"
    />
    <div
      v-if="dropdownOpen && inputModel && inputModel.length > 0"
      ref="dropdown"
      class="autocomplete-dropdown absolute w-full top-101 bg-white rounded border shadow-lg
      border-neutral-100 z-20 max-h-48 overflow-y-auto"
    >
      <div
        v-for="(item, index) in array"
        :ref="`item${index}`"
        :key="item.id"
        class="w-full px-2 md:px-3 py-2 transition cursor-pointer
        hover:bg-primary-050 hover:text-primary hover:px-4"
        :class="{
          'bg-primary-050 text-primary px-4': selectedIndex === index,
        }"
        @click="selectItem(index)"
      >
        {{ item.field }}
      </div>
      <div
        v-if="createOption"
        :ref="`item${array.length}`"
        class="w-full flex justify-start px-2 md:px-3 py-2 transition cursor-pointer
        hover:bg-primary text-primary hover:text-white hover:px-4"
        @click="oncreateclick"
      >
        <g-icon :name="createOptionIcon" class="mr-2" />
        <span>{{ createOptionLabel }}</span>
      </div>
      <div
        v-if="!selectedLoading && array.length === 0 && !createOption"
        class="w-full h-16 flex items-center justify-start px-2 md:px-3"
      >
        {{ emptyText }}
      </div>
    </div>
  </div>
</template>

<script>
// TODO: Add Option to fetch dynamically content from api
// FIXME: Fix option for Number Filtering
import nanoid from 'nanoid/non-secure';
import GInput from './Input.vue';

const dropdownHeight = 192;

export default {
  name: 'Autocomplete',

  components: {
    GInput,
  },

  props: {
    // v-model
    value: {
      type: [String, Object, Number],
      default: null,
    },
    // label of the input field
    label: {
      type: String,
      default: null,
    },
    // placeholder of the input field => only visible if label === null
    placeholder: {
      type: String,
      default: null,
    },
    // name of the input field
    name: {
      type: String,
      // `generated`
      default: () => nanoid(),
    },
    // id of the input field
    id: {
      type: String,
      // `generated`
      default: () => nanoid(),
    },
    // if input field is required in form-context
    required: {
      type: Boolean,
      default: false,
    },
    // input field disabled state
    disabled: {
      type: Boolean,
      default: false,
    },
    // input field readonly state
    readonly: {
      type: Boolean,
      default: false,
    },
    // only for beta => auto-api fetch coming soon
    static: {
      type: Boolean,
      default: true,
    },
    // static data
    data: {
      type: Array,
      required: true,
    },
    // searching field, null for array of strings / deep-search e.g. name.firstName
    field: {
      type: String,
      default: null,
    },
    // minlength of user input value where autocomplete should start
    minLength: {
      type: Number,
      default: 1,
    },
    // preselect the first item in the dropdown
    preselect: {
      type: Boolean,
      default: false,
    },
    // empty text if nothing where found
    emptyText: {
      type: String,
      default: 'Nothing found.',
    },
    // autofocus the input field
    autofocus: {
      type: Boolean,
      default: false,
    },
    // show value clear button in input field
    clearButton: {
      type: Boolean,
      default: true,
    },
    // defines the icon which is displayed if clearButton === true
    clearButtonIcon: {
      type: String,
      default: 'close-circle-outline',
    },
    // show a create new button at the end of the results
    createOption: {
      type: Boolean,
      default: false,
    },
    // text label of the create-button
    createOptionText: {
      type: String,
      default: 'Create',
    },
    // leading icon of the create-button
    createOptionIcon: {
      type: String,
      default: 'plus-circle-outline',
    },
  },

  data() {
    return {
      inputModel: '',
      dropdownOpen: false,
      selectedLoading: false,
      selectedIndex: -1,
      array: [],
    };
  },

  computed: {
    createOptionLabel() {
      return this.createOptionText.replace('%N%', this.inputModel);
    },
  },

  watch: {
    data: {
      immediate: true,
      handler(newVal) {
        if (this.static && !Array.isArray(newVal)) {
          console.error("'data' property has to be an array if you want to use a static source. Otherwise set 'static' to false.");
        }
      },
    },
    preselect: {
      immediate: true,
      handler() {
        this.resetSelectedIndex();
      },
    },
    value: {
      immediate: true,
      handler(newVal) {
        if (newVal) {
          let field;
          if (this.field) field = this.field.split('.');
          let dataField = newVal;
          if (this.field) {
            field.map((f, index) => {
              dataField = dataField[field[index]];
            });
          }
          this.inputModel = dataField;
        } else {
          this.inputModel = '';
        }
      },
    },
  },

  methods: {
    onarrowup() {
      if (this.selectedIndex > 0) {
        this.selectedIndex -= 1;
        const item = this.$refs[`item${this.selectedIndex}`][0];
        this.$refs.dropdown.scrollTop = item.offsetTop;
      }
    },
    onarrowdown() {
      if (this.selectedIndex < this.array.length - 1) {
        this.selectedIndex += 1;
        const item = this.$refs[`item${this.selectedIndex}`][0];
        if ((item.offsetTop + item.offsetHeight) > dropdownHeight) {
          this.$refs.dropdown.scrollTop = item.offsetTop;
        }
      }
    },
    oninput() {
      this.openDropdown();
      this.resetSelectedIndex();
      if (this.static) {
        this.staticDataCheck();
      } else {
        // sadasd
      }
    },
    oncreateclick() {
      // Fire when the user clicks the optional create-button
      // @arg current input value
      this.$emit('createClick', this.inputModel);
    },
    staticDataCheck() {
      if (this.inputModel.length >= this.minLength) {
        this.array = [];
        let field;
        if (this.field) field = this.field.split('.');
        this.data.map((d) => {
          let dataField = d;
          if (this.field) {
            field.map((f, index) => {
              dataField = dataField[field[index]];
            });
          }
          if (dataField.toLowerCase().indexOf(this.inputModel.toLowerCase()) > -1) {
            this.array.push({
              item: d,
              field: dataField,
              id: dataField.toLowerCase().replace(/\s/g, '-'),
            });
          }
        });
      }
    },
    selectItem(i) {
      this.selectedLoading = true;
      // Fire when an item in the dropdown is selected
      // @arg item-value
      this.$emit('input', this.array[i].item);
      this.closeDropdown();
      this.array = [];
    },
    clearItem() {
      this.selectedLoading = true;
      // Fire when an item in the dropdown is selected
      // @arg null
      this.$emit('input', null);
      this.closeDropdown();
      this.array = [];
    },
    openDropdown() {
      this.dropdownOpen = true;
    },
    // @vuese
    // closed the dropdown
    closeDropdown() {
      this.$nextTick(() => {
        setTimeout(() => {
          this.resetSelectedIndex();
          this.dropdownOpen = false;
          this.selectedLoading = false;
        }, 200);
      });
    },
    resetSelectedIndex() {
      if (this.preselect) this.selectedIndex = 0;
      else this.selectedIndex = -1;
    },
  },
};
</script>
