<template>
  <div class="g checkbox">
    <div
      class="flex items-start"
      :class="{
        'my-4': !hasError,
        'mt-4': hasError,
      }"
    >
      <input
        :id="id"
        ref="checkbox"
        v-model="modelHelper"
        :value="nativeValue"
        class="
          g-checkbox-input h-5 w-5 appearance-none rounded-sm
          border-2 flex-none
          transition moz-invalid-none
          focus:shadow-outline focus:outline-none focus:border-primary
        "
        :class="{
          'border-neutral-200 cursor-not-allowed': disabled,
          'border-neutral-300 cursor-pointer': !disabled,
          'border-alert': hasError,
        }"
        type="checkbox"
        :required="required"
        :disabled="disabled"
        @change="input"
        @focus="onfocus"
        @blur="onblur"
      >
      <label
        :for="id"
        class="ml-2 select-none"
        :class="{
          'text-neutral-400 cursor-not-allowed': disabled,
          'text-dark cursor-pointer': !disabled,
        }"
      >
        {{ label }}
        <!-- Checkbox Label -->
        <slot v-if="!label" /><template v-if="required">*</template>
      </label>
    </div>
    <span
      class="
        text-alert text-xs block max-w-full relative absolute
        bottom-0 truncate transition
      "
      :class="{
        'invisible h-0': typeof hasError !== 'string',
        'h-5 mb-4': typeof hasError === 'string'
      }"
    >
      {{ hasError }}
    </span>
  </div>
</template>

<script>
import nanoid from 'nanoid';

export default {
  name: 'Checkbox',

  props: {
    // v-model
    value: {
      type: [Boolean, Array],
      default: false,
    },
    // id of the checkbox input
    id: {
      type: String,
      // `generated`
      default: () => nanoid(),
    },
    // label of the checbox => null if you want to use label slot
    label: {
      type: String,
      default: null,
    },
    // if checkbox is required in form context
    required: {
      type: Boolean,
      default: false,
    },
    // if you are using a custom validation
    customValidation: {
      type: Boolean,
      default: false,
    },
    // if checkbox should be disabled
    disabled: {
      type: Boolean,
      default: false,
    },
    // native value of the checkbox => required for checkbox groups
    nativeValue: {
      type: String,
      default: null,
    },
    // custom error msg
    error: {
      type: [String, Boolean],
      default: false,
    },
  },

  data() {
    return {
      modelHelper: false,
      htmlError: false,
    };
  },

  computed: {
    hasError() {
      if (this.error) return this.error;
      if (this.htmlError) return this.htmlError;
      return false;
    },
  },

  watch: {
    value: {
      immediate: true,
      handler(newVal) {
        this.modelHelper = newVal;
      },
    },
  },

  methods: {
    input() {
      // Fire when the checkbox state has changed
      // @arg checkbox value
      this.$emit('input', this.modelHelper);
      // Fire when the checkbox state has changed
      // @arg checkbox value
      this.$emit('change', this.modelHelper);
      if (this.htmlError) this.checkValidity();
    },
    onfocus() {
      // Fire when the checkbox is focused
      // @arg $el
      this.$emit('focus', this.$el);
      this.focused = true;
    },
    onblur() {
      // Fire when the checkbox is blurred
      // @arg $el
      this.$emit('blur', this.$el);
      this.focused = false;
      this.checkValidity();
    },
    checkValidity() {
      if (!this.customValidation) this.htmlError = this.$refs.checkbox.validationMessage;
    },
  },
};
</script>

<style lang="scss" scoped>
.g.checkbox {
  .g-checkbox-input {
    &:checked:not(:disabled) {
      border-color: theme('colors.primary.default');
      background: theme('colors.primary.default') url("data:image/svg+xml;charset=utf-8,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 1 1'%3E%3Cpath d='M.04.627L.146.52.43.804.323.91zm.177.177L.854.167.96.273.323.91z' fill='%23fff'/%3E%3C/svg%3E") no-repeat 50%;
    }
    &:checked:disabled {
      border-color: theme('colors.neutral.300');
      background: theme('colors.neutral.300') url("data:image/svg+xml;charset=utf-8,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 1 1'%3E%3Cpath d='M.04.627L.146.52.43.804.323.91zm.177.177L.854.167.96.273.323.91z' fill='%23fff'/%3E%3C/svg%3E") no-repeat 50%;
    }
  }
}
</style>
