<template>
  <div class="g datepicker relative">
    <g-input
      :id="id"
      ref="datepickerInput"
      v-model="valueModel"
      :label="label"
      :placeholder="placeholder"
      :name="name"
      :autocomplete="autocomplete"
      :disabled="disabled"
      :readonly="readonly"
      :autofocus="autofocus"
      :required="required"
      :clear-button="clearButton"
      :clear-button-icon="clearButtonIcon"
      @clearButtonClick="onclear"
      @change="oninput"
      @focus="openDropdown"
      @blur="closeDropdown"
    />
    <div
      v-show="dropdownOpen"
      ref="dropdown"
      class="autocomplete-dropdown absolute top-101 bg-white rounded border shadow-lg
      border-neutral-100 z-20 overflow-hidden"
      @mousedown.prevent
    >
      <ic-datepicker
        ref="datepicker"
        v-model="dateModel"
        :language="lang"
        :full-month-name="fullMonthName"
        :disabled-dates="disabledDates"
        :monday-first="mondayFirst"
        :class="wrapperClass"
        :minimum-view="minimumView"
        :maximum-view="maximumView"
        inline
        @selected="dateSelected"
        @input="dateSelected"
        @cleared="dateCleared"
        @changedMonth="monthChanged"
        @changeYear="yearChanged"
        @changeDecade="decadeChanged"
      />
      <div v-if="todayButton" class="pb-2 px-2">
        <g-button
          color="primary"
          @click="selectToday"
        >
          {{ todayButtonText }}
        </g-button>
      </div>
    </div>
  </div>
</template>

<script>
// TODO: add logic for disabled sundays
import nanoid from 'nanoid';
import moment from 'moment';
import IcDatepicker from 'vuejs-datepicker';
import * as languagepacks from 'vuejs-datepicker/src/locale';
import GInput from './Input.vue';
import GButton from '../Button.vue';

export default {
  name: 'Datepicker',

  components: {
    GInput,
    GButton,
    IcDatepicker,
  },

  props: {
    // v-model
    value: {
      type: String,
      default: null,
    },
    // Your custom dateFormat parsing with moment()
    dateFormat: {
      type: String,
      default: 'YYYY-MM-DD',
    },
    // language package of datepicker
    language: {
      /* `af`, `ar`, `bg`, `bs`, `ca`, `cs`, `da`, `de`, `ee`, `el`, `en`, `es`, `fa`, `fi`
      `fo`, `fr`, `ge`, `gl`, `he`, `hu`, `hr`, `id`, `is`, `it`, `ja`, `kk`, `ko`, `lb`
      `lt`, `lv`, `mk`, `mn`, `nbNO`, `nl`, `pl`, `ptBR`, `ro`, `ru`, `sk`, `slSI`, `sv`
      `sr`, `srCyrl`, `th`, `tr`, `uk`, `ur`, `vi`, `zh`, `zhHK`
      */
      type: String,
      default: 'de',
      validator: (value) => {
        return [
          'af', 'ar', 'bg', 'bs', 'ca', 'cs', 'da', 'de', 'ee', 'el', 'en', 'es', 'fa', 'fi',
          'fo', 'fr', 'ge', 'gl', 'he', 'hu', 'hr', 'id', 'is', 'it', 'ja', 'kk', 'ko', 'lb', 'lt', 'lv', 'mk',
          'mn', 'nbNO', 'nl', 'pl', 'ptBR', 'ro', 'ru', 'sk', 'slSI', 'sv', 'sr', 'srCyrl', 'th', 'tr', 'uk',
          'ur', 'vi', 'zh', 'zhHK',
        ].indexOf(value) !== -1;
      },
    },
    // id of input field
    id: {
      type: String,
      // generated
      default: () => nanoid(),
    },
    // name of input field
    name: {
      type: String,
      // generated
      default: () => nanoid(),
    },
    // label of input field
    label: {
      type: String,
      default: null,
    },
    // placeholder of input field only displayed if label === `null`
    placeholder: {
      type: String,
      default: null,
    },
    // if input is required in form context
    required: {
      type: Boolean,
      default: false,
    },
    // disables input field
    disabled: {
      type: Boolean,
      default: false,
    },
    /* readonly field => disabled === false isn't recommend as the user
    can type in wrong date formats and component will be crashing. */
    readonly: {
      type: Boolean,
      default: true,
    },
    // use built in browser autocomplete
    autocomplete: {
      type: Boolean,
      default: false,
    },
    // autofocuses the input field on mount
    autofocus: {
      type: Boolean,
      default: false,
    },
    // show full month names
    fullMonthName: {
      type: Boolean,
      default: true,
    },
    // disabled dates => have a look into [this docs](https://www.npmjs.com/package/vuejs-datepicker)
    disabledDates: {
      type: Object,
      // {}
      default: () => {},
    },
    // if monday should be the start of the week, when false sunday is the first day
    mondayFirst: {
      type: Boolean,
      default: true,
    },
    // If set, lower-level views won't show
    minimumView: {
      type: String,
      default: 'day',
    },
    // If set, lower-level views won't show
    maximumView: {
      type: String,
      default: 'year',
    },
    // In development yet
    disableSunday: {
      type: Boolean,
      default: true,
    },
    // show today button in dropdown
    todayButton: {
      type: Boolean,
      default: false,
    },
    // label of the today button
    todayButtonText: {
      type: String,
      default: 'Today',
    },
    // show clear button in input field
    clearButton: {
      type: Boolean,
      default: true,
    },
    // icon of the clear-button
    clearButtonIcon: {
      // `mdi icon`
      type: String,
      default: 'close-circle-outline',
    },
  },

  data() {
    return {
      valueModel: null,
      dateModel: null,
      dropdownOpen: false,
    };
  },

  computed: {
    lang() {
      return languagepacks[this.language];
    },
    wrapperClass() {
      return {
        'vdp-sunday-disabled': this.disableSunday,
      };
    },
  },

  watch: {
    value: {
      immediate: true,
      handler(newVal) {
        this.valueModel = newVal;
      },
    },
  },

  methods: {
    oninput() {
      if (this.valueModel.length > 4) {
        this.valueModel = moment(this.valueModel).format(this.dateFormat);
        const stdDate = moment(this.dateModel).format('YYYY-MM-DD');
        this.dateModel = moment(stdDate).toDate();
        // Fire when date is changed
        // @arg date
        this.$emit('input', this.valueModel);
        // Fire when date is changed
        // @arg date
        this.$emit('change', this.valueModel);
      }
    },
    dateSelected(e) {
      const date = moment(e).format(this.dateFormat);
      this.valueModel = date;
      const stdDate = moment(e).format('YYYY-MM-DD');
      this.dateModel = moment(stdDate).toDate();
      this.$nextTick(() => {
        // Fire when date is changed
        // @arg date
        this.$emit('input', this.valueModel);
        // Fire when date is changed
        // @arg date
        this.$emit('change', this.valueModel);
        this.$refs.datepickerInput.blur();
      });
    },
    // @vuese
    // selects the current day
    selectToday() {
      const date = moment().toDate();
      this.dateSelected(date);
    },
    onclear() {
      this.valueModel = null;
      this.dateModel = null;
      // Fire when date is changed
      // @arg date
      this.$emit('input', this.valueModel);
      // Fire when date is changed
      // @arg date
      this.$emit('change', this.valueModel);
    },
    dateCleared() {
      // Fire when date is cleared
      this.$emit('cleared');
    },
    monthChanged() {
      // Fire when user changed month view
      this.$emit('monthChanged');
    },
    yearChanged() {
      // Fire when user changed year view
      this.$emit('yearChanged');
    },
    decadeChanged() {
      // Fire when user changed decade view
      this.$emit('decadeChanged');
    },
    openDropdown() {
      this.dropdownOpen = true;
    },
    closeDropdown() {
      this.$nextTick(() => {
        setTimeout(() => {
          this.dropdownOpen = false;
        }, 100);
      });
    },
  },
};
</script>

<style lang="scss">
.g.datepicker {
  .g-input-field:not(:disabled) {
    background: theme('colors.white') !important;
  }

  .vdp-datepicker {
    color: theme('colors.dark.default');

    &__calendar {
      border: 0 !important;
      padding: theme('spacing.2');
      width: 18.5rem !important;
    }

    .cell {
      &.day,
      &.year,
      &.month {
        display: inline-flex;
        justify-content: center;
        align-items: center;
        border: 0;
        border-radius: theme('borderRadius.default');
        transition: all 200ms;

        &:not(.disabled):not(.blank):hover {
          border: 0 !important;
          background: theme('colors.neutral.050');
        }

        &.today {
          background: theme('colors.primary.050');
          color: theme('colors.primary.default');
        }

        &.selected,
        &.selected:hover {
          background: theme('colors.primary.default') !important;
          color: theme('colors.primary.text-on-bg') !important;
        }
      }

      &.day-header {
        color: theme('colors.neutral.400');
      }
    }

    .day__month_btn,
    .month__year_btn,
    header > span:not(.prev):not(.next) {
      border-radius: theme('borderRadius.default');
      font-size: theme('fontSize.sm');
      font-weight: theme('fontWeight.semibold');

      &:hover {
        background: theme('colors.neutral.050') !important;
      }
    }

    .next,
    .prev {
      border-radius: theme('borderRadius.default');

      &:hover {
        background: theme('colors.neutral.050') !important;
      }
    }

    .next::after {
      border-left-color: theme('colors.dark.default') !important;
    }
    .prev::after {
      border-right-color: theme('colors.dark.default') !important;
    }
  }
}
</style>
