<template>
  <div class="g input relative my-4">
    <div class="relative w-full">
      <label
        v-if="label"
        :for="id"
        class="g-input-label px-2 md:px-3 absolute transition cursor-text"
        :class="{
          'is-positioned-top': (value && value.length > 0) || focused,
          'text-primary': focused && !hasError,
          'text-neutral-300': !focused && !hasError,
          'text-alert': hasError,
        }"
      >
        {{ label }}<template v-if="required">*</template>
      </label>
      <input
        v-if="!mask"
        :id="id"
        ref="input"
        :value="value"
        class="g-input-field px-2 md:px-3 border rounded
        focus:outline-none transition w-full"
        :class="[inputStyles, {
          'pt-5 pb-1': label,
          'pt-3 pb-3': !label,
        }]"
        :autocomplete="autocomplete"
        :type="inputType"
        :required="required"
        :placeholder="label ? null : placeholder"
        :min="min"
        :max="max"
        :maxlength="maxlength"
        :name="name"
        :disabled="disabled"
        :readonly="readonly"
        @focus="onfocus"
        @blur="onblur"
        @input="input"
        @change="change"
        @keydown="onkeydown"
      >
      <input
        v-else
        :id="id"
        ref="input"
        v-mask="mask"
        :value="value"
        class="g-input-field px-2 md:px-3 border rounded
        focus:outline-none transition w-full"
        :class="[inputStyles, {
          'pt-5 pb-1': label,
          'pt-3 pb-3': !label,
        }]"
        :autocomplete="autocomplete"
        :type="inputType"
        :required="required"
        :placeholder="label ? null : placeholder"
        :min="min"
        :max="max"
        :maxlength="maxlength"
        :name="name"
        :disabled="disabled"
        :readonly="readonly"
        @focus="onfocus"
        @blur="onblur"
        @input="input"
      >
      <template v-if="passwordReveal">
        <div
          class="cursor-pointer absolute mr-2 right-0 top-0 text-2xl
          h-full flex items-center text-primary"
          @click="togglePasswordReveal"
        >
          <g-icon v-if="passwordRevealed" name="eye-off" />
          <g-icon v-else name="eye" />
        </div>
      </template>
      <template v-if="clearButton && value && value.length > 0">
        <div
          class="absolute mr-2 right-0 top-0 text-2xl
          h-full flex items-center transition"
          :class="{
            'text-primary hover:text-primary-700 cursor-pointer': !disabled,
            'hidden': disabled,
          }"
          @click="clearButtonClick"
        >
          <g-icon :name="clearButtonIcon" />
        </div>
      </template>
    </div>
    <div
      class="
        text-xs block mx-2 max-w-full relative
        bottom-0 transition flex
      "
      :class="{
        'invisible h-0': typeof hasError !== 'string' && !maxlength,
        'h-5': typeof hasError === 'string' || maxlength,
        'justify-end': typeof hasError !== 'string' && maxlength,
      }"
    >
      <span v-if="typeof hasError === 'string'" class="text-alert flex-shrink truncate">
        {{ hasError }}
      </span>
      <span
        v-if="maxlength"
        class="inline-flex flex-auto flex-shrink-0 justify-end numeric-tabular-nums"
        :class="{
          'text-neutral-300': !hasError,
          'text-alert font-semibold': hasError,
        }"
      >
        {{ value ? value.length : 0 }} / {{ maxlength }}
      </span>
    </div>
  </div>
</template>

<script>
/* eslint-disable vue/require-prop-types */
import { VueMaskDirective } from 'v-mask';
import nanoid from 'nanoid';
import GIcon from '../Icon.vue';

export default {
  name: 'Input',

  components: {
    GIcon,
  },

  directives: {
    mask: VueMaskDirective,
  },

  props: {
    // v-model
    value: {
      type: [String, Number],
      default: null,
    },
    // autofocuses the field on mount
    autofocus: {
      type: Boolean,
      default: false,
    },
    // id of the input field
    id: {
      type: String,
      // generated
      default: () => nanoid(),
    },
    // label of the field
    label: {
      type: String,
      default: null,
    },
    // if the field is required in form-context
    required: {
      type: Boolean,
      default: false,
    },
    // type of the field
    type: {
      /* `color` `date` `datetime-local` `email`
      `image` `month` `number` `password`
      `tel` `text` `time` `url` `week` */
      type: String,
      default: 'text',
      validator: (value) => {
        return [
          'color', 'date', 'datetime-local', 'email',
          'image', 'month', 'number', 'password',
          'tel', 'text', 'time', 'url', 'week',
        ].indexOf(value) !== -1;
      },
    },
    // placeholder of the field; only visible if label === `null`
    placeholder: {
      type: String,
      default: null,
    },
    // individual error as message or boolean
    error: {
      type: [String, Boolean],
      default: false,
    },
    // minimum number if type === `number`
    min: {
      type: String,
      default: null,
    },
    // maximum number if type === `number`
    max: {
      type: String,
      default: null,
    },
    // if custom validation is used => for false standard browser errors are applied
    customValidation: {
      type: Boolean,
      default: false,
    },
    // show password-reveal button, when type === `password`
    passwordReveal: {
      type: Boolean,
      default: false,
    },
    // mask the input value for example credit card numbers
    mask: {
      type: String,
      default: null,
    },
    // name of field
    name: {
      type: String,
      default: null,
    },
    // if field is disabled
    disabled: {
      type: Boolean,
      default: false,
    },
    // if field is readonly
    readonly: {
      type: Boolean,
      default: false,
    },
    // if field has maximum numbers of characters
    maxlength: {
      type: Number,
      default: null,
    },
    // show default browser autocomplete
    autocomplete: {
      type: Boolean,
      default: false,
    },
    // show clear button which can clear whole field
    clearButton: {
      type: Boolean,
      default: false,
    },
    // icon of clear button
    clearButtonIcon: {
      // `mdi icon`
      type: String,
      default: 'close-circle-outline',
    },
    // the value which will be applied if user clicked clear-button
    clearedValue: {
      default: null,
    },
  },

  data() {
    return {
      focused: false,
      htmlError: false,
      passwordRevealed: false,
    };
  },

  computed: {
    inputStyles() {
      return `
        ${this.hasError ? 'border-alert focus:shadow-outline-alert' : `border-neutral-100
        focus:shadow-outline-primary
        focus:border-primary`}
        ${this.disabled ? 'text-neutral-300 bg-neutral-050' : ''}
        ${this.readonly ? 'bg-neutral-050' : ''}
      `;
    },
    inputType() {
      if (!this.passwordRevealed) return this.type;
      return 'text';
    },
    hasError() {
      if (this.error) return this.error;
      if (this.htmlError) return this.htmlError;
      return false;
    },
  },

  watch: {
    value: {
      immediate: true,
      handler(newVal) {
        if (newVal && this.maxlength && newVal.length > this.maxlength) {
          this.htmlError = true;
        } else if (newVal && this.maxlength && this.htmlError && newVal.length <= this.maxlength) {
          this.htmlError = false;
        } else if (!newVal && !this.required) {
          this.htmlError = false;
        }
      },
    },
  },

  mounted() {
    if (this.autofocus) this.$nextTick(() => { this.focus(); });
  },

  methods: {
    input() {
      // Fire user input
      // @arg input value
      this.$emit('input', this.$refs.input.value);
      if (this.htmlError) this.checkValidity();
    },
    change() {
      // Fire input change
      // @arg input value
      this.$emit('change', this.$refs.input.value);
      if (this.htmlError) this.checkValidity();
    },
    onfocus() {
      // Fire when field is focused
      // @arg $el
      this.$emit('focus', this.$el);
      this.focused = true;
    },
    onblur() {
      // Fire when field is blurred
      // @arg $el
      this.$emit('blur', this.$el);
      this.focused = false;
      this.checkValidity();
    },
    onkeydown(e) {
      // Fire key clicked in focused field
      // @arg native-event
      this.$emit('keydown', e);
    },
    // @vuese
    // focus the input field
    focus() {
      this.$refs.input.focus();
    },
    // @vuese
    // blur the input field
    blur() {
      this.$refs.input.blur();
    },
    checkValidity() {
      if (!this.customValidation) this.htmlError = this.$refs.input.validationMessage;
    },
    togglePasswordReveal() {
      this.passwordRevealed = !this.passwordRevealed;
    },
    clearButtonClick() {
      // Fire when clear button is clicked
      // @arg $el
      this.$emit('clearButtonClick', this.$el);
      // Fire user input
      // @arg input value
      this.$emit('input', this.clearedValue);
    },
  },
};
</script>

<style lang="scss" scoped>
.g.input {
  .g-input-label {
    top: 50%;
    transform: translateY(-50%);

    &.is-positioned-top {
      transform: translateY(-100%);
      font-size: .75rem;
    }
  }
}
</style>
