<template>
  <div class="g radio flex items-center mb-2">
    <input
      :id="id"
      ref="radio"
      v-model="valueModel"
      class="
        g-radio-input h-5 w-5 appearance-none rounded-full
        border-2 flex-none relative
        transition
        focus:shadow-outline focus:outline-none focus:border-primary
      "
      :class="{
        'border-neutral-200 cursor-not-allowed': disabled,
        'border-neutral-300 cursor-pointer': !disabled,
      }"
      type="radio"
      :value="nativeValue"
      :name="name"
      :disabled="disabled"
      @change="input"
    >
    <label
      :for="id"
      class="for-radio ml-2"
      :class="{
        'text-neutral-400 cursor-not-allowed': disabled,
        'text-dark cursor-pointer': !disabled,
      }"
    >
      {{ label }}
      <!-- label slot if label prop === null -->
      <slot v-if="!label" /><template v-if="required">*</template>
    </label>
  </div>
</template>

<script>
import nanoid from 'nanoid';

export default {
  name: 'Radio',

  props: {
    // v-model
    value: {
      type: String,
      default: null,
    },
    // native html value
    nativeValue: {
      type: String,
      required: true,
    },
    // html field name
    name: {
      type: String,
      default: null,
    },
    // field id
    id: {
      type: String,
      // `generated`
      default: () => nanoid(),
    },
    label: {
      type: String,
      default: null,
    },
    disabled: {
      type: Boolean,
      default: false,
    },
    required: {
      type: Boolean,
      default: false,
    },
  },

  data() {
    return {
      valueModel: null,
    };
  },

  watch: {
    value: {
      immediate: true,
      handler(newVal) {
        this.valueModel = newVal;
      },
    },
  },

  methods: {
    input() {
      // Fire when value is changed
      // @arg native-value
      this.$emit('input', this.nativeValue);
      // Fire when value is changed
      // @arg native-value
      this.$emit('change', this.nativeValue);
    },
  },
};
</script>

<style lang="scss" scoped>
.g.radio {
  .g-radio-input {
    &::after {
      content: '';
      position: absolute;
      background: theme('colors.primary.default');
      border-radius: 50%;
      top: 50%;
      left: 50%;
      width: 0%;
      height: 0%;
      transform: translate(-50%, -50%);
      transition: all 200ms;
    }
    &:checked:not(:disabled) {
      border-color: theme('colors.primary.default');

      &::after {
        width: 50%;
        height: 50%;
      }
    }
    &:checked:disabled {
      border-color: theme('colors.neutral.300');

      &::after {
        background: theme('colors.neutral.300');
        width: 50%;
        height: 50%;
      }
    }
  }
}
</style>
