<template>
  <div class="g select relative my-4">
    <div class="relative">
      <label
        v-if="label"
        :for="id"
        class="g-select-label px-2 md:px-3 absolute transition"
        :class="{
          'is-positioned-top': (value && value.length > 0) || focused,
          'text-primary': focused && !hasError,
          'text-neutral-300': !focused && !hasError,
          'text-alert': hasError,
          'cursor-pointer': !disabled,
          'cursor-not-allowed': disabled,
        }"
      >
        {{ label }}<template v-if="required">*</template>
      </label>
      <select
        :id="id"
        ref="select"
        class="g-select-field appearance-none px-2 md:px-3 pt-5 pb-1 border rounded
          focus:outline-none transition w-full moz-focusring-none"
        :class="inputStyles"
        :required="required"
        :name="name"
        :value="value"
        :disabled="disabled"
        @focus="onfocus"
        @blur="onblur"
        @change="input"
      >
        <option v-if="nullOption" :selected="value === null" disabled />
        <!-- options -->
        <slot />
      </select>
      <div
        class="cursor-pointer absolute mr-2 right-0 top-0 text-2xl
        h-full flex items-center text-neutral-300"
      >
        <g-icon name="chevron-down" />
      </div>
    </div>
    <span
      class="
        text-alert text-xs block mx-2 max-w-full relative absolute
        bottom-0 truncate transition
      "
      :class="{
        'invisible h-0': typeof hasError !== 'string',
        'h-5': typeof hasError === 'string'
      }"
    >
      {{ hasError }}
    </span>
  </div>
</template>

<script>
import nanoid from 'nanoid';
import GIcon from '../Icon.vue';

export default {
  name: 'Select',

  components: {
    GIcon,
  },

  props: {
    // v-model
    value: {
      type: String,
      default: null,
    },
    // if a option with value null should be displayed, otherwise first value is pre-selected
    nullOption: {
      type: Boolean,
      default: true,
    },
    // field id
    id: {
      type: String,
      default: () => nanoid(),
    },
    // field label
    label: {
      type: String,
      default: null,
    },
    required: {
      type: Boolean,
      default: false,
    },
    // custom error message or boolean
    error: {
      type: [String, Boolean],
      default: false,
    },
    // if you are using a custom validation
    customValidation: {
      type: Boolean,
      default: false,
    },
    // html field name
    name: {
      type: String,
      default: null,
    },
    disabled: {
      type: Boolean,
      default: false,
    },
  },

  data() {
    return {
      focused: false,
      htmlError: false,
      passwordRevealed: false,
    };
  },

  computed: {
    inputStyles() {
      return `
        ${this.hasError ? 'border-alert focus:shadow-outline-alert' : `border-neutral-100
        focus:shadow-outline-primary
        focus:border-primary`}
        ${this.disabled ? 'text-neutral-300 bg-neutral-050 cursor-not-allowed' : 'bg-white cursor-pointer'}
      `;
    },
    hasError() {
      if (this.error) return this.error;
      if (this.htmlError) return this.htmlError;
      return false;
    },
  },

  methods: {
    input() {
      // Fire when option is selected
      // @arg select value
      this.$emit('change', this.$refs.select.value);
      // Fire when option is selected
      // @arg select value
      this.$emit('input', this.$refs.select.value);
      if (this.htmlError) this.checkValidity();
    },
    onfocus() {
      // Fire when field is focused
      // @arg $el
      this.$emit('focus', this.$el);
      this.focused = true;
    },
    onblur() {
      // Fire when field is blurred
      // @arg $el
      this.$emit('blur', this.$el);
      this.focused = false;
      this.checkValidity();
    },
    checkValidity() {
      if (!this.customValidation) this.htmlError = this.$refs.select.validationMessage;
    },
  },
};
</script>

<style lang="scss" scoped>
.g.select {
  .g-select-label {
    top: 50%;
    transform: translateY(-50%);

    &.is-positioned-top {
      transform: translateY(-100%);
      font-size: .75rem;
    }
  }
}
</style>
