<template>
  <label :for="id" class="g switch relative">
    <div
      class="relative inline-flex items-center h-6"
      :class="{
        'my-4': !hasError,
        'mt-4': hasError,
      }"
    >
      <div class="relative h-6">
        <input
          :id="id"
          ref="switch"
          v-model="valueModel"
          type="checkbox"
          class="g-switch-input h-full appearance-none rounded-full border transition
          focus:outline-none focus:shadow-outline-primary"
          :class="{
            'bg-white border-neutral-100': !valueModel && !disabled,
            'bg-neutral-050': !valueModel && disabled,
            'bg-primary border-primary': valueModel && !disabled,
            'bg-neutral-100': valueModel && disabled,
            'cursor-pointer': !disabled,
            'cursor-not-allowed': disabled,
            'border-alert': hasError,
          }"
          :required="required"
          :disabled="disabled"
          @change="input"
          @focus="onfocus"
          @blur="onblur"
        >
        <div
          class="pill w-4 h-4 transition rounded-full absolute"
          :class="{
            'bg-neutral-100': !valueModel && !disabled,
            'bg-neutral-200': !valueModel && disabled,
            'bg-white is-active': valueModel && !disabled,
            'bg-neutral-200 is-active': valueModel && disabled,
            'cursor-pointer': !disabled,
            'cursor-not-allowed': disabled,
          }"
        />
      </div>
      <span
        class="inline select-none"
        :class="{
          'ml-2': $slots.default || label,
          'cursor-pointer': !disabled,
          'cursor-not-allowed': disabled,
        }"
      >
        <!-- label slot when label prop === null -->
        <slot v-if="!label" />{{ label }}<template v-if="required">*</template>
      </span>
    </div>
    <span
      class="
        text-alert text-xs block max-w-full relative absolute
        bottom-0 truncate transition
      "
      :class="{
        'invisible h-0': typeof hasError !== 'string',
        'h-5 mb-4': typeof hasError === 'string'
      }"
    >
      {{ hasError }}
    </span>
  </label>
</template>

<script>
import nanoid from 'nanoid';

export default {
  name: 'SwitchInput',

  props: {
    // v-model
    value: {
      type: Boolean,
      default: false,
    },
    // id of html field
    id: {
      type: String,
      // `generated`
      default: () => nanoid(),
    },
    required: {
      type: Boolean,
      default: false,
    },
    disabled: {
      type: Boolean,
      default: false,
    },
    // label of switch
    label: {
      type: String,
      default: null,
    },
    // if you are using custom validation
    customValidation: {
      type: Boolean,
      default: false,
    },
    // custom error message or boolean
    error: {
      type: [String, Boolean],
      default: false,
    },
  },

  data() {
    return {
      valueModel: false,
      htmlError: false,
    };
  },

  computed: {
    hasError() {
      if (this.error) return this.error;
      if (this.htmlError) return this.htmlError;
      return false;
    },
  },

  watch: {
    value: {
      immediate: true,
      handler(newVal) {
        this.valueModel = newVal;
      },
    },
  },

  methods: {
    input() {
      // Fire when switch value is changed
      // @arg value
      this.$emit('input', this.valueModel);
      // Fire when switch value is changed
      // @arg value
      this.$emit('change', this.valueModel);
    },
    onfocus() {
      // Fire when switch is focused
      // @arg $el
      this.$emit('focus', this.$el);
      this.focused = true;
    },
    onblur() {
      // Fire when switch is blurred
      // @arg $el
      this.$emit('blur', this.$el);
      this.focused = false;
      this.checkValidity();
    },
    checkValidity() {
      if (!this.customValidation) this.htmlError = this.$refs.switch.validationMessage;
    },
  },
};
</script>

<style lang="scss" scoped>
.g.switch {
  .g-switch-input {
    width: 3rem;
  }

  .pill {
    left: .325rem;
    top: 50%;
    transform: translateY(-50%);

    &.is-active {
      transform: translate(calc(100% + .35rem), -50%);
    }
  }
}
</style>
