<template>
  <div class="g textarea relative my-4">
    <div class="relative w-full">
      <label
        v-if="label"
        :for="id"
        class="g-textarea-label px-2 md:px-3 absolute transition cursor-text"
        :class="{
          'is-positioned-top': (value && value.length > 0) || focused,
          'text-primary': focused && !hasError,
          'text-neutral-300': !focused && !hasError,
          'text-alert': hasError,
        }"
      >
        {{ label }}<template v-if="required">*</template>
      </label>
      <textarea
        :id="id"
        ref="textarea"
        :value="value"
        class="g-textarea-field px-2 md:px-3 pt-5 pb-1 border rounded
        focus:outline-none transition w-full moz-invalid-none"
        :class="inputStyles"
        :required="required"
        :name="name"
        :disabled="disabled"
        :maxlength="maxlength"
        :readonly="readonly"
        :rows="rows"
        @focus="onfocus"
        @blur="onblur"
        @input="input"
        @change="change"
      />
    </div>
    <div
      class="
        text-xs block mx-2 max-w-full relative
        bottom-0 transition flex
      "
      :class="{
        'invisible h-0': typeof hasError !== 'string' && !maxlength,
        'h-5': typeof hasError === 'string' || maxlength,
        'justify-end': typeof hasError !== 'string' && maxlength,
      }"
    >
      <span v-if="typeof hasError === 'string'" class="text-alert flex-shrink truncate">
        {{ hasError }}
      </span>
      <span
        v-if="maxlength"
        class="inline-flex flex-auto flex-shrink-0 justify-end numeric-tabular-nums"
        :class="{
          'text-neutral-300': !hasError,
          'text-alert font-semibold': hasError,
        }"
      >
        {{ value ? value.length : 0 }} / {{ maxlength }}
      </span>
    </div>
  </div>
</template>

<script>
import nanoid from 'nanoid';

export default {
  name: 'Textarea',

  props: {
    // v-model
    value: {
      type: String,
      default: null,
    },
    // autofocuses the element on mount
    autofocus: {
      type: Boolean,
      default: false,
    },
    id: {
      type: String,
      default: () => nanoid(),
    },
    // label of field
    label: {
      type: String,
      default: null,
    },
    required: {
      type: Boolean,
      default: false,
    },
    // placeholder if label === null
    placeholder: {
      type: String,
      default: null,
    },
    // custom error message or boolean
    error: {
      type: [String, Boolean],
      default: false,
    },
    // if you are using your own validation
    customValidation: {
      type: Boolean,
      default: false,
    },
    // html field name
    name: {
      type: String,
      default: null,
    },
    disabled: {
      type: Boolean,
      default: false,
    },
    readonly: {
      type: Boolean,
      default: false,
    },
    // maxlength of content
    maxlength: {
      type: Number,
      default: null,
    },
    // native html rows property
    rows: {
      type: Number,
      default: null,
    },
  },

  data() {
    return {
      focused: false,
      htmlError: false,
      passwordRevealed: false,
    };
  },

  computed: {
    inputStyles() {
      return `
        ${this.hasError ? 'border-alert focus:shadow-outline-alert' : `border-neutral-100
        focus:shadow-outline-primary
        focus:border-primary`}
        ${this.disabled ? 'text-neutral-300 bg-neutral-050' : ''}
        ${this.readonly ? 'bg-neutral-050' : ''}
      `;
    },
    hasError() {
      if (this.error) return this.error;
      if (this.htmlError) return this.htmlError;
      return false;
    },
  },

  watch: {
    value: {
      immediate: true,
      handler(newVal) {
        if (newVal && this.maxlength && newVal.length > this.maxlength) {
          this.htmlError = true;
        } else if (newVal && this.maxlength && this.htmlError && newVal.length <= this.maxlength) {
          this.htmlError = false;
        } else if (!newVal && !this.required) {
          this.htmlError = false;
        }
      },
    },
  },

  mounted() {
    if (this.autofocus) this.$nextTick(() => { this.focus(); });
  },

  methods: {
    input() {
      // Fire when user is typing
      // @arg value
      this.$emit('input', this.$refs.textarea.value);
      if (this.htmlError) this.checkValidity();
    },
    change() {
      // Fire value is changed
      // @arg value
      this.$emit('change', this.$refs.textarea.value);
      if (this.htmlError) this.checkValidity();
    },
    onfocus() {
      // Fire when field is focused
      // @arg value
      this.$emit('focus', this.$el);
      this.focused = true;
    },
    onblur() {
      // Fire when field is blurred
      // @arg value
      this.$emit('blur', this.$el);
      this.focused = false;
      this.checkValidity();
    },
    // @vuese
    // focus the textarea
    focus() {
      this.$refs.textarea.focus();
    },
    // @vuese
    // blur the textarea
    blur() {
      this.$refs.textarea.blur();
    },
    // @vuese
    // select content of textarea
    select() {
      this.$refs.textarea.select();
    },
    checkValidity() {
      if (!this.customValidation) this.htmlError = this.$refs.textarea.validationMessage;
    },
    togglePasswordReveal() {
      this.passwordRevealed = !this.passwordRevealed;
    },
  },
};
</script>

<style lang="scss" scoped>
.g.textarea {
  .g-textarea-label {
    top: 0;
    transform: translateY(.75rem);

    &.is-positioned-top {
      transform: translateY(.5rem);
      font-size: .75rem;
    }
  }
}
</style>
