$accentColor = #2680C2
$textColor = #102A43
$borderColor = #eaecef
$codeBgColor = #282c34

.theme-default-content:not(.custom) > h1, .theme-default-content:not(.custom) > h2, .theme-default-content:not(.custom) > h3, .theme-default-content:not(.custom) > h4, .theme-default-content:not(.custom) > h5, .theme-default-content:not(.custom) > h6 {
  margin-bottom: 1.125rem !important;
}

body {
  font-family: 'Inter', -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji" !important;
  color: #1d2630 !important;
}

.custom-block.tip, .custom-block.warning, .custom-block.danger {
  padding: 1rem 1.5rem !important;
}

.page {
  padding-left: 0 !important;
}