<template>
  <div>
    <g-sidebar no-icons>
      <template v-for="route in routes">
        <g-sidebar-item
          :key="route.name"
          :to="route.path"
          :icon="route.icon"
        >
          {{ route.path }}
        </g-sidebar-item>
      </template>
    </g-sidebar>
  </div>
</template>

<script>
import { routes } from '../router';

export default {
  data() {
    return {
      routes,
    };
  },
};
</script>
