<template>
  <div>
    <button
      v-if="isMobile"
      class="menu-trigger left-0 top-0 mt-4 ml-4 px-2 transition
      py-2 z-30 rounded-full bg-white shadow focus:outline-none focus:bg-primary-400"
      @click="isOpen = true"
    >
      <g-icon name="menu" size="2xl" />
    </button>
    <div
      class="g nav-sidebar shadow z-40 left-0 top-0 h-screen flex flex-wrap transition-300"
      :class="[bgClass, position, {
        'w-16 is-mini': mini,
        'w-56 py-4': !mini,
        '-left-100': isMobile && !isOpen,
        'left-0': isMobile && isOpen,
      }]"
    >
      <div class="inline-flex flex-wrap flex-auto content-start w-full">
        <!-- top positioned items -->
        <slot />
      </div>
      <div class="inline-flex flex-wrap flex-auto content-end w-full">
        <!-- bottom positioned items -->
        <slot name="bottom" />
      </div>
    </div>
    <div
      v-if="isMobile"
      class="sidebar-backdrop bg-dark cursor-pointer fixed top-0 left-0 right-0 bottom-0 z-30 transition-300"
      :class="{
        'visible opacity-25': isOpen,
        'invisible opacity-0': !isOpen,
      }"
      @click="isOpen = false"
    />
  </div>
</template>

<script>
export default {
  name: 'Sidebar',

  props: {
    // activate dark mode
    dark: {
      type: Boolean,
      default: false,
    },
    // use mini variant
    mini: {
      type: Boolean,
      default: false,
    },
    // defines the background of none dark variant
    lightTone: {
      type: String,
      default: 'bg-white',
    },
    // defines the background of dark variant
    darkTone: {
      type: String,
      default: 'bg-neutral-700',
    },
    noMini: {
      type: Boolean,
      default: false,
    },
    position: {
      // `fixed` `relative` `absolute`
      type: String,
      default: 'fixed',
      validator: value => ['fixed', 'relative', 'absolute'].indexOf(value) > -1,
    },
  },

  data() {
    return {
      viewport: null,
      isOpen: false,
    };
  },

  computed: {
    bgClass() {
      if (this.dark) return `${this.darkTone} text-white`;
      return `${this.lightTone} text-dark`;
    },
    isMobile() {
      if (this.viewport === 'md' && !this.mini) return true;
      if (this.viewport === 'sm') return true;
      return false;
    },
  },

  watch: {
    mini: {
      immediate: true,
      handler(newVal) {
        if (newVal && !this.isMobile) {
          document.body.classList.add('has-g-sidebar--mini');
          document.body.classList.remove('has-g-sidebar');
        } else if (!newVal && !this.isMobile) {
          document.body.classList.add('has-g-sidebar');
          document.body.classList.remove('has-g-sidebar--mini');
        }
      },
    },
    isMobile: {
      immediate: true,
      handler(newVal) {
        if (newVal) {
          document.body.classList.remove('has-g-sidebar');
          document.body.classList.remove('has-g-sidebar--mini');
        }
      },
    },
  },

  mounted() {
    window.addEventListener('resize', (e) => {
      if (e.target.innerWidth < 1025 && e.target.innerWidth > 640) this.viewport = 'md';
      else if (e.target.innerWidth < 1025) this.viewport = 'sm';
      else this.viewport = null;
    });
    if (window.innerWidth < 1025 && window.innerWidth > 640) this.viewport = 'md';
    else if (window.innerWidth < 1025) this.viewport = 'sm';
    else this.viewport = null;
  },
};
</script>

<style lang="scss">
body {
  &.has-g-sidebar {
    @media screen and (min-width: theme('screens.md')) {
      padding-left: theme('spacing.56');
    }

    &--mini {
      @media screen and (min-width: theme('screens.md')) {
        padding-left: theme('spacing.16');
      }
    }
  }
}
</style>
