<template>
  <div
    class="g sidebar-item w-full inline-flex relative"
    :class="{
      'h-16 justify-center': mini,
    }"
  >
    <component
      :is="el"
      :href="href"
      :to="to"
      class="item-trigger cursor-pointer w-full transition flex
      items-center relative z-20 focus:outline-none hover:no-underline"
      :class="[bgClass, {
        'text-center h-full justify-center is-mini': mini,
        'hover:text-primary': !bg,
        'px-4 py-2 hover:pl-5': !mini,
      }]"
      @click="onclick"
    >
      <g-icon
        v-if="icon"
        class="inline-flex"
        :class="{
          'mr-2 md:mr-4': !mini,
        }"
        :size="iconSize"
        :name="icon"
      />
      <div
        v-if="$slots.default"
        class="trigger-label cursor-pointer"
        :class="{
          'absolute left-101 overflow-x-hidden invisible rounded shadow opacity-0 z-0 px-3 py-1': mini,
          'bg-white': mini && !dark,
          'bg-neutral-700': mini && dark,
        }"
      >
        <!-- label slot -->
        <slot />
      </div>
    </component>
  </div>
</template>

<script>
export default {
  name: 'SidebarItem',

  props: {
    // html-tag of component
    el: {
      // `router-link` / `a` / `button`
      type: String,
      default: 'router-link',
      validator: value => ['router-link', 'a', 'button'].indexOf(value) !== -1,
    },
    // to prop when el === router-link
    to: {
      type: String,
      default: null,
    },
    href: {
      type: String,
      default: null,
    },
    icon: {
      type: String,
      default: null,
    },
    mini: {
      type: Boolean,
      default: false,
    },
    dark: {
      type: Boolean,
      default: false,
    },
    bg: {
      type: String,
      default: null,
    },
  },

  data() {
    return {
      viewport: null,
    };
  },

  computed: {
    iconSize() {
      if (this.mini) return '3xl';
      return 'xl';
    },
    bgClass() {
      if (this.bg) {
        return `${this.bg} hover:text-${this.bg.replace('bg-', '')}-800
        focus:${this.bg}-700 focus:text-${this.bg.replace('bg-', '')}-200`;
      }
      return this.bg;
    },
    isMobile() {
      if (this.viewport === 'md' && !this.mini) return true;
      if (this.viewport === 'sm') return true;
      return false;
    },
  },

  mounted() {
    window.addEventListener('resize', (e) => {
      if (e.target.innerWidth < 1025 && e.target.innerWidth > 640) this.viewport = 'md';
      else if (e.target.innerWidth < 1025) this.viewport = 'sm';
      else this.viewport = null;
    });
    if (window.innerWidth < 1025 && window.innerWidth > 640) this.viewport = 'md';
    else if (window.innerWidth < 1025) this.viewport = 'sm';
    else this.viewport = null;
  },

  methods: {
    onclick(e) {
      // Fire when element is clicked
      // @args native-event
      this.$emit('click', e);
    },
  },
};
</script>

<style lang="scss" scoped>
.g.sidebar-item {
  .item-trigger {
    &.is-mini {
      &:hover {
        .trigger-label {
          visibility: visible;
          width: initial;
          z-index: theme('zIndex.10');
          opacity: 1;
        }
      }

      &.router-link-exact-active {
        color: theme('colors.primary.text-on-bg');
        background: theme('colors.primary.default');

        .trigger-label {
          color: theme('colors.primary.default');
        }
      }
    }

    &.router-link-exact-active {
      color: theme('colors.primary.text-on-bg');
      background: theme('colors.primary.default');
    }
  }
}
</style>
