<template>
  <container>
    <div
      v-for="v in variants"
      :key="v"
      class="inline-flex mr-2"
    >
      <g-button
        :color="v"
      >
        {{ capitalize(v) }}
      </g-button>
    </div>
    <div class="mt-4 mr-2 inline-flex">
      <g-button color="primary" large>Large Button</g-button>
    </div>
    <div class="mt-4 mr-2 inline-flex">
      <g-button color="secondary" rounded="rounded-full" large>Large Button</g-button>
    </div>
    <div class="mt-4 mr-2 inline-flex">
      <g-button color="dark" outlined large>Large Button</g-button>
    </div>
    <div class="mt-4">
      <g-button color="primary" icon="home">With Icon</g-button>
    </div>
    <div class="mt-4 mr-2 inline-flex">
      <g-button color="primary" icon="home" />
    </div>
    <div class="mt-4 mr-2 inline-flex">
      <g-button color="primary" icon="home" rounded="rounded-full" />
    </div>
    <div class="mt-4 mr-2 inline-flex">
      <g-button
        color="primary"
        icon="home"
        rounded="rounded-full"
        large
      />
    </div>
    <div class="mt-4">
      <g-button color="primary" outlined>Outlined</g-button>
    </div>
    <div class="mt-4 mr-2 inline-flex">
      <g-button color="primary" rounded="rounded-full">Button Pill</g-button>
    </div>
    <div class="mt-4 mr-2 inline-flex">
      <g-button color="secondary" rounded="rounded-full">Secondary Button Pill</g-button>
    </div>
    <div class="mt-4 mr-2 inline-flex">
      <g-button color="dark" rounded="rounded-none">No Border Radius</g-button>
    </div>
    <div class="mt-4">
      <g-button color="primary" disabled>Disabled</g-button>
    </div>
    <div class="mt-4 mr-2 inline-flex">
      <g-button color="primary" href="https://google.de" target="_blank">As link</g-button>
    </div>
    <div class="mt-4 mr-2 inline-flex">
      <g-button color="secondary" to="/form-input">As router-link go to Input Fields</g-button>
    </div>
  </container>
</template>

<script>
export default {
  data() {
    return {
      variants: ['primary', 'secondary', 'light', 'dark', 'neutral', 'alert', 'warning', 'success', 'transparent'],
    };
  },

  methods: {
    capitalize(str) {
      return str.charAt(0).toUpperCase() + str.slice(1);
    },
  },
};
</script>
