<template>
  <container>
    <div class="mb-4">
      <g-dropdown>
        <g-button slot="trigger" color="secondary">Menu</g-button>

        <g-dropdown-item @click="click(1.2)">Item 2</g-dropdown-item>
        <g-dropdown-item @click="click(1.3)">Item 3</g-dropdown-item>
        <g-dropdown-divider />
        <g-dropdown-item icon="home" @click="click(1.1)">Icon</g-dropdown-item>
      </g-dropdown>
    </div>
    <div class="mb-4">
      <g-dropdown position="bottom-right">
        <g-button slot="trigger" outlined rounded="rounded-full">Ultra Long Trigger Text</g-button>

        <g-dropdown-item @click="click(2.1)">Item 1</g-dropdown-item>
        <g-dropdown-item @click="click(2.2)">Item 2</g-dropdown-item>
        <g-dropdown-item @click="click(2.3)">Item 3</g-dropdown-item>
      </g-dropdown>
      <g-dropdown class="ml-4" position="bottom-right">
        <g-button slot="trigger">Small</g-button>

        <g-dropdown-item @click="click(3.1)">Ultra Long Item Text</g-dropdown-item>
        <g-dropdown-item @click="click(3.2)">Ultra Long Item Text</g-dropdown-item>
        <g-dropdown-item @click="click(3.3)">Ultra Long Item Text</g-dropdown-item>
      </g-dropdown>
    </div>
    <div class="mb-4">
      <g-dropdown position="bottom-left" open-above>
        <g-button slot="trigger" color="dark">Open above</g-button>

        <g-dropdown-item @click="click(4.1)">Ultra Long Item Text</g-dropdown-item>
        <g-dropdown-item @click="click(4.2)">Ultra Long Item Text</g-dropdown-item>
        <g-dropdown-item @click="click(4.3)">Ultra Long Item Text</g-dropdown-item>
      </g-dropdown>
    </div>
    <span v-if="clicked">Item <strong>{{ clicked }}</strong> clicked.</span>
  </container>
</template>

<script>
export default {
  data() {
    return {
      clicked: null,
    };
  },

  methods: {
    click(i) {
      console.log(i);
      this.clicked = i.toString();
    },
  },
};
</script>
