<template>
  <container>
    <g-input
      v-model="input"
      label="E-Mail"
      type="email"
      required
    />
    <g-input
      v-model="text"
      label="Text with Autofocus"
      autofocus
    />
    <g-input
      v-model="text"
      placeholder="No Label only placeholder"
    />
    <g-input
      v-model="text"
      label="Text with Maxlength"
      :maxlength="20"
    />
    <g-input
      v-model="text"
      label="Text with clear button"
      clear-button
    />
    <g-input
      v-model="text"
      label="Text with custom clear button"
      clear-button
      clear-button-icon="backspace"
    />
    <g-input
      v-model="text"
      label="Text disabled"
      disabled
    />
    <g-input
      v-model="text"
      label="Text readonly"
      readonly
    />
    <g-input
      v-model="number"
      label="Number"
      type="number"
      min="1"
      max="5"
      required
    />
    <g-input
      v-model="creditCard"
      label="Credit Card using Mask"
      mask="#### #### #### ####"
      required
    />
    <g-input
      v-model="otherMask"
      label="Other Mask"
      mask="**/##/##"
    />
    <g-input
      v-model="password"
      label="Password"
      type="password"
      password-reveal
      required
    />
  </container>
</template>

<script>
export default {
  data() {
    return {
      input: null,
      number: null,
      creditCard: null,
      otherMask: null,
      password: null,
      text: null,
    };
  },
};
</script>
