<template>
  <container>
    <g-textarea v-model="textarea" label="Textarea" />
    <g-textarea v-model="textarea" label="Textarea Maxlength" :maxlength="10" />
    <g-textarea
      v-model="textarea"
      label="Textarea Maxlength Required"
      :maxlength="10"
      required
    />
    <g-textarea v-model="textarea" label="Textarea Required" required />
    <g-textarea v-model="textarea" label="Textarea autofocus" autofocus />
    <g-textarea v-model="textarea" label="Textarea Disabled" disabled />
    <g-textarea v-model="textarea" label="Textarea Readonly" readonly />
  </container>
</template>

<script>
export default {
  data() {
    return {
      textarea: null,
    };
  },
};
</script>
