<template>
  <container>
    <div class="font-bold text-xl">Array of Strings</div>
    <div v-if="selectedString">Selected: {{ selectedString }}</div>
    <div>
      <g-autocomplete
        v-model="selectedString"
        label="Autocomplete"
        static
        autofocus
        :data="['Max', 'Shannen', 'Vlad', 'Hakeem', 'Zoe', 'Franco']"
      />
    </div>
    <div class="font-bold text-xl">Array of objects</div>
    <div v-if="selected">Selected: {{ selected }}</div>
    <div>
      <g-autocomplete
        v-model="selected"
        label="Autocomplete"
        static
        :data="dataArr"
        field="name"
        required
        preselect
      />
    </div>
    <div class="font-bold text-xl">Array of objects with deep filtering</div>
    <div v-if="selectedDeep">Selected: {{ selectedDeep }}</div>
    <div>
      <g-autocomplete
        v-model="selectedDeep"
        label="Autocomplete"
        static
        :data="dataArrDeep"
        field="name.fullName"
        preselect
      />
    </div>
    <div class="font-bold text-xl">With create button</div>
    <div v-if="selectedString">Selected: {{ selectedString }}</div>
    <div>
      <span v-if="createClicked">Create clicked: {{ createClicked }}</span>
      <g-autocomplete
        v-model="selectedAction"
        label="Autocomplete"
        static
        :data="dataArr"
        field="name"
        create-option
        create-option-text="Create new user: %N%"
        @createClick="(e) => createClicked = e"
      />
    </div>
    <div class="font-bold text-xl">States</div>
    <span>Preselected:</span>
    <div v-if="selectedPre">Selected: {{ selectedPre }}</div>
    <div>
      <g-autocomplete
        v-model="selectedPre"
        label="Autocomplete"
        static
        :data="dataArr"
        field="name"
        preselect
      />
    </div>
    <span>Disabled:</span>
    <div>
      <g-autocomplete
        v-model="selectedPre"
        label="Autocomplete"
        static
        :data="dataArr"
        field="name"
        disabled
        preselect
      />
    </div>
    <span>Readonly:</span>
    <div>
      <g-autocomplete
        v-model="selectedPre"
        label="Autocomplete"
        static
        :data="dataArr"
        field="name"
        readonly
        preselect
      />
    </div>
  </container>
</template>

<script>
export default {
  data() {
    return {
      dataArr: [
        { name: 'Vlad Dyer', age: 20 },
        { name: 'Shannen Velez', age: 28 },
        { name: 'Ellen Collier', age: 31 },
        { name: 'Asa Mcgregor', age: 44 },
        { name: 'Lowri Slater', age: 22 },
        { name: 'Kelvin Mclellan', age: 52 },
        { name: 'Kristy Palmer', age: 47 },
        { name: 'Franco Thomas', age: 39 },
        { name: 'Kajetan Nichols', age: 33 },
        { name: 'Vilad Mayer', age: 26 },
        { name: 'Natasha Galindo', age: 29 },
        { name: 'Oscar Ireland', age: 32 },
        { name: 'Zoe Yang', age: 35 },
        { name: 'Hakeem Dickinson', age: 19 },
      ],
      dataArrDeep: [
        { name: { fullName: 'Vlad Dyer' }, age: 20 },
        { name: { fullName: 'Shannen Velez' }, age: 28 },
        { name: { fullName: 'Ellen Collier' }, age: 31 },
        { name: { fullName: 'Asa Mcgregor' }, age: 44 },
        { name: { fullName: 'Lowri Slater' }, age: 22 },
        { name: { fullName: 'Kelvin Mclellan' }, age: 52 },
        { name: { fullName: 'Kristy Palmer' }, age: 47 },
        { name: { fullName: 'Franco Thomas' }, age: 39 },
        { name: { fullName: 'Kajetan Nichols' }, age: 33 },
        { name: { fullName: 'Vilad Mayer' }, age: 26 },
        { name: { fullName: 'Natasha Galindo' }, age: 29 },
        { name: { fullName: 'Oscar Ireland' }, age: 32 },
        { name: { fullName: 'Zoe Yang' }, age: 35 },
        { name: { fullName: 'Hakeem Dickinson' }, age: 19 },
      ],
      selectedString: null,
      selectedDeep: null,
      selected: null,
      selectedAction: null,
      selectedPre: { name: 'Vlad Dyer', age: 20 },
      createClicked: false,
    };
  },
};
</script>
