<template>
  <container>
    <g-radio
      v-model="radio"
      native-value="Tim"
      label="Tim"
    />
    <g-radio
      v-model="radio"
      native-value="Bernd"
      label="Bernd"
      disabled
    />
    <g-radio
      v-model="radio"
      native-value="Lars"
      label="Lars"
    />
    Selected: {{ radio }}
  </container>
</template>

<script>
export default {
  data() {
    return {
      radio: 'Bernd',
    };
  },
};
</script>
