<template>
  <container>
    <div>
      <g-switch v-model="check">Label</g-switch>
    </div>
    <div>
      <g-switch v-model="check" label="Label" required />
    </div>
    <div>
      <g-switch v-model="check" label="Label" disabled />
    </div>
  </container>
</template>

<script>
export default {
  data() {
    return {
      check: false,
    };
  },
};
</script>
