<template>
  <container>
    <g-checkbox
      v-model="checkbox"
      required
    >
      Checkbox with HTML Label <i>Required</i>
    </g-checkbox>
    <g-checkbox
      v-model="checkbox"
      label="Not required"
    />
    <g-checkbox
      v-model="checkbox"
      label="Checkbox disabled"
      disabled
    />
    {{ checkbox }}
    <hr>
    <div class="font-bold text-2xl">Checkbox Group</div>
    <div class="flex">
      <g-checkbox
        v-model="check2"
        name="checkbox-2"
        native-value="Tim"
        label="Tim"
        class="mr-4"
      />
      <g-checkbox
        v-model="check2"
        name="checkbox-2"
        native-value="Mike"
        label="Mike"
        class="mr-4"
      />
      <g-checkbox
        v-model="check2"
        name="checkbox-2"
        native-value="Bernd"
        label="Bernd"
        class="mr-4"
      />
    </div>
    {{ check2 }}
  </container>
</template>

<script>
export default {
  data() {
    return {
      checkbox: false,
      check2: [],
    };
  },
};
</script>
