<template>
  <div>
    <div v-if="option <= 4">
      Selected:
      <span v-if="option === 1">{{ selectedString }}</span>
      <span v-if="option === 2">{{ selected }}</span>
      <span v-if="option === 3">{{ selectedDeep }}</span>
      <span v-if="option === 4">
        {{ selectedAction }}
        <span v-if="createClicked">=> createClicked: {{ createClicked }}</span>
      </span>
    </div>
    <g-autocomplete
      v-if="option === 1"
      v-model="selectedString"
      placeholder="Placeholder"
      :data="['Max', 'Shannen', 'Vlad', 'Hakeem', 'Zoe', 'Franco']"
    />
    <g-autocomplete
      v-else-if="option === 2"
      v-model="selected"
      label="Autocomplete"
      :data="dataArr"
      field="name"
    />
    <g-autocomplete
      v-else-if="option === 3"
      v-model="selectedDeep"
      label="Autocomplete"
      :data="dataArrDeep"
      field="name.fullName"
      preselect
    />
    <g-autocomplete
      v-else-if="option === 4"
      v-model="selectedAction"
      label="Autocomplete"
      :data="dataArr"
      field="name"
      create-option
      create-option-text="Create new user: %N%"
      @createClick="(e) => createClicked = e"
    />
    <g-autocomplete
      v-else-if="option === 5"
      v-model="selected"
      label="Autocomplete"
      :data="dataArr"
      field="name"
      disabled
    />
    <g-autocomplete
      v-else-if="option === 6"
      v-model="selected"
      label="Autocomplete"
      :data="dataArr"
      field="name"
      readonly
    />
  </div>
</template>

<script>
export default {
  name: 'AutocompleteExamples',

  props: {
    option: {
      type: Number,
      default: 1,
    },
  },

  data() {
    return {
      selectedString: null,
      selected: null,
      selectedDeep: null,
      selectedAction: null,
      createClicked: null,
      dataArr: [
        { name: 'Vlad Dyer', age: 20 },
        { name: 'Shannen Velez', age: 28 },
        { name: 'Ellen Collier', age: 31 },
        { name: 'Asa Mcgregor', age: 44 },
        { name: 'Lowri Slater', age: 22 },
        { name: 'Kelvin Mclellan', age: 52 },
        { name: 'Kristy Palmer', age: 47 },
        { name: 'Franco Thomas', age: 39 },
        { name: 'Kajetan Nichols', age: 33 },
        { name: 'Vilad Mayer', age: 26 },
        { name: 'Natasha Galindo', age: 29 },
        { name: 'Oscar Ireland', age: 32 },
        { name: 'Zoe Yang', age: 35 },
        { name: 'Hakeem Dickinson', age: 19 },
      ],
      dataArrDeep: [
        { name: { fullName: 'Vlad Dyer' }, age: 20 },
        { name: { fullName: 'Shannen Velez' }, age: 28 },
        { name: { fullName: 'Ellen Collier' }, age: 31 },
        { name: { fullName: 'Asa Mcgregor' }, age: 44 },
        { name: { fullName: 'Lowri Slater' }, age: 22 },
        { name: { fullName: 'Kelvin Mclellan' }, age: 52 },
        { name: { fullName: 'Kristy Palmer' }, age: 47 },
        { name: { fullName: 'Franco Thomas' }, age: 39 },
        { name: { fullName: 'Kajetan Nichols' }, age: 33 },
        { name: { fullName: 'Vilad Mayer' }, age: 26 },
        { name: { fullName: 'Natasha Galindo' }, age: 29 },
        { name: { fullName: 'Oscar Ireland' }, age: 32 },
        { name: { fullName: 'Zoe Yang' }, age: 35 },
        { name: { fullName: 'Hakeem Dickinson' }, age: 19 },
      ],
    };
  },
};
</script>
