<template>
  <div class="inline">
    <Badge :text="`v${version}+`" type="warn" />
    <Badge v-if="packVersion === version" text="NEW"/>
    <Badge
      v-if="updateVersion !== 'none' && packVersion === updateVersion" text="UPDATED"
    />
  </div>
</template>

<script>
import packageJson from '../../../package.json';

export default {
  props: {
    version: {
      type: String,
      required: true,
    },
    updateVersion: {
      type: String,
      required: true,
    },
  },

  data() {
    return {
      packVersion: packageJson.version,
    };
  },
};
</script>
