<template>
  <div class="flex">
    <g-checkbox
      v-model="check2"
      name="checkbox-2"
      native-value="Tim"
      label="Tim"
      class="mr-4"
    />
    <g-checkbox
      v-model="check2"
      name="checkbox-2"
      native-value="Mike"
      label="Mike"
      class="mr-4"
    />
    <g-checkbox
      v-model="check2"
      name="checkbox-2"
      native-value="Bernd"
      label="Bernd"
      class="mr-4"
    />
    <div class="block">
      {{ check2 }}
    </div>
  </div>
</template>

<script>
export default {
  data() {
    return {
      check2: [],
    };
  },
};
</script>
