<template>
  <div class="px-4 py-8 text-center shadow bg-primary-050 text-primary rounded-lg">
    Current Version: <strong>v{{ packVersion }}</strong>
  </div>
</template>

<script>
import packageJson from '../../../package.json';

export default {
  data() {
    return {
      packVersion: packageJson.version,
    };
  },
};
</script>
