<template>
  <div>
    <g-datepicker
      v-model="date"
      label="Datepicker"
      required
    />
    <g-datepicker
      v-model="customDate"
      label="Datepicker with custom format and buttons"
      date-format="DD.MM.YYYY"
      today-button
    />
    <g-datepicker
      v-model="customDate"
      label="Datepicker disabled"
      date-format="DD.MM.YYYY"
      disabled
    />
  </div>
</template>

<script>
export default {
  data() {
    return {
      date: null,
      customDate: null,
    };
  },
};
</script>
