<template>
  <div>
    <g-select v-model="select" label="Select">
      <option value="Test">Test</option>
      <option value="Test2">Test2</option>
    </g-select>
    <g-select v-model="select" label="Select required" required>
      <option value="Test">Test</option>
      <option value="Test2">Test2</option>
    </g-select>
    <g-select v-model="select" label="Select disabled" disabled>
      <option value="Test">Test</option>
      <option value="Test2">Test2</option>
    </g-select>
  </div>
</template>

<script>
export default {
  data() {
    return {
      select: null,
    };
  },
};
</script>
