<template>
  <button
    v-if="!href && !to"
    class="g button"
    :class="style"
    :disabled="disabled"
    @click="onclick"
  >
    <g-icon v-if="icon" :name="icon" :class="iconClass" />
    <span class="inline">
      <!-- Button Label -->
      <slot />
    </span>
  </button>
  <router-link
    v-else-if="to && !href"
    class="g button hover:no-underline"
    :class="style"
    :to="to"
    @click="onclick"
  >
    <g-icon v-if="icon" :name="icon" :class="iconClass" />
    <span class="inline"><slot /></span>
  </router-link>
  <a
    v-else-if="!to && href && target"
    class="g button hover:no-underline"
    :class="style"
    :href="href"
    :target="target"
    @click="onclick"
  >
    <g-icon v-if="icon" :name="icon" :class="iconClass" />
    <span class="inline"><slot /></span>
  </a>
  <a
    v-else
    class="g button hover:no-underline"
    :class="style"
    :href="href"
    @click="onclick"
  >
    <g-icon v-if="icon" :name="icon" :class="iconClass" />
    <span class="inline"><slot /></span>
  </a>
</template>

<script>
import GIcon from './Icon.vue';

export default {
  name: 'Button',

  components: {
    GIcon,
  },

  props: {
    // The link if the button is a link
    href: {
      type: String,
      default: null,
    },
    // The link if the button is a router-link
    to: {
      type: String,
      default: null,
    },
    // The background-color of the button
    color: {
      type: String,
      default: 'primary',
    },
    // If the button should appears with the outline styles
    outlined: {
      type: Boolean,
      default: false,
    },
    // If the button should appears with a different border radius
    rounded: {
      /* `'rounded'` `'rounded-sm'` `'rounded-none'`
      `'rounded-lg'` `'rounded-full'` `'custom tailwind classes'` */
      type: String,
      default: 'rounded',
    },
    // If the button should displayed as disabled
    disabled: {
      type: Boolean,
      default: false,
    },
    // the target if the button is a link and has a href prop
    target: {
      type: String,
      default: null,
    },
    // If the button should appears with an icon
    icon: {
      type: String,
      default: null,
    },
    // Displayed the button in a larger variant
    large: {
      type: Boolean,
      default: false,
    },
  },

  data() {
    return {
      onlyIcon: false,
    };
  },

  computed: {
    style() {
      return `
        inline-flex justify-center items-center
        ${this.onlyIcon ? 'only-icon px-2 py-2' : 'px-4 py-2'}
        ${this.outlined ? '' : `bg-${this.color}`}
        border border-${this.color}
        ${this.outlined ? `text-${this.color}` : `text-${this.color}-text-on-bg`}
        ${this.large ? 'text-xl' : ''}
        ${this.rounded}
        shadow-outline-transparent
        text-center
        ${this.disabled ? 'opacity-50 cursor-not-allowed' : 'hover:shadow-md'}
        ${this.outlined ? 'active:bg-transparent' : `active:bg-${this.color}-700`}
        active:border-${this.color}-700
        focus:outline-none
        ${this.color === 'transparent' || this.color === 'light' ? 'focus:shadow-outline-neutral' : `focus:shadow-outline-${this.color}`}
      `;
    },
    iconClass() {
      return {
        'opacity-90': this.onlyIcon,
        'mr-2 opacity-90': !this.onlyIcon,
        'text-xl': !this.large,
        'text-3xl': this.large,
      };
    },
  },

  mounted() {
    this.$nextTick(() => {
      if (!this.$slots.default) this.onlyIcon = true;
    });
  },

  methods: {
    onclick(e) {
      // Fire when the button is clicked
      // @arg native event
      this.$emit('click', e);
    },
  },
};
</script>

<style lang="scss" scoped>
.g.button {
  transition: all 300ms;
  min-width: 7.5rem;

  &.only-icon {
    min-width: 0;
  }
}
</style>
