<template>
  <i class="g icon flex items-center leading-none" :class="[font, icon, fontSize]" />
</template>

<script>
export default {
  props: {
    name: {
      type: String,
      required: true,
    },
    size: {
      type: String,
      default: null,
    },
    font: {
      type: String,
      default: 'mdi',
    },
  },

  computed: {
    icon() {
      return `${this.font}-${this.name}`;
    },
    fontSize() {
      if (this.size) return `text-${this.size}`;
      return '';
    },
  },
};
</script>

<style lang="scss" scoped>
// FIXME: Do we need the import here?
@import '~@mdi/font/css/materialdesignicons.min.css';
</style>
