<template>
  <div id="app">
    <div class="md:flex">
      <navigation />
      <div class="md:w-full">
        <router-view />
      </div>
    </div>
    <g-target name="modal-destination" />
  </div>
</template>

<script>
import Navigation from './helper/Navigation.vue';

export default {
  components: {
    Navigation,
  },
};
</script>
